   .page{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
    align-items: center;
    position: fixed;
    top: 0;
    right: 0

}
.modal-container{
    background-color: rgb(252, 252, 252);
    width: 60vw;
    height: 75vh;
    display: flex;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative
    
  }


.modal-container .modal-close {
    border: none;
    color: black;
    border-radius: 5px;
    width: 1.5rem;
     height: 2.25rem;
   
        top: 0.75rem;
     right: 0.75rem;
     position: absolute; /* Posiciona o botão de forma absoluta */
    top: 0.75rem;
     right: 0.75rem;


   
 

  } 



  
  